mixin reset
  svg(
    class=attributes.class,
    xmlns='http://www.w3.org/2000/svg',
    width='18',
    height='18',
    viewBox='0 0 48 48',
    fill='none'
  )
    path(
      d='M18.15 18.15L29.85 29.85',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
    path(
      d='M18.15 29.85L29.85 18.15',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
mixin tick
  svg(
    width='24',
    height='24',
    viewBox='0 0 24 24',
    fill='none',
    xmlns='http://www.w3.org/2000/svg'
  )
    path(
      d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8',
      stroke='#62215B',
      stroke-width='2',
      stroke-linecap='round'
    )
mixin arrow-bottom
  svg(width='28', height='28', viewBox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6', stroke='#5C5772', stroke-linecap='round', stroke-linejoin='round')

mixin edit-svg 
  svg(xmlns="http://www.w3.org/2000/svg", width="28px", height="28px", viewBox="0 0 64 64", fill="none", stroke="#000000")
    polygon(points="20 56 56 20 44 8 8 44 8 56 20 56")
    line(x1="12", y1="40", x2="24", y2="52")
    line(x1="36", y1="16", x2="48", y2="28")

mixin delete-svg 
  svg(xmlns="http://www.w3.org/2000/svg", width="28px", height="28px", viewBox="0 0 64 64", fill="none", stroke="#000000")
    polyline(points="52 16 48 56 16 56 12 16")
    path(d="M20 16v-3.94A4.06 4.06 0 0 1 24.06 8h15.88A4.06 4.06 0 0 1 44 12.06V16")
    line(x1="8", y1="16", x2="56", y2="16")
    line(x1="24", y1="28", x2="40", y2="44")
    line(x1="40", y1="28", x2="24", y2="44")

mixin sun-svg 
  svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewBox="0 0 32 32")
    path(fill="currentColor", d="M16 26c1.105 0 2 0.895 2 2v2c0 1.105-0.895 2-2 2s-2-0.895-2-2v-2c0-1.105 0.895-2 2-2zM16 6c-1.105 0-2-0.895-2-2v-2c0-1.105 0.895-2 2-2s2 0.895 2 2v2c0 1.105-0.895 2-2 2zM30 14c1.105 0 2 0.895 2 2s-0.895 2-2 2h-2c-1.105 0-2-0.895-2-2s0.895-2 2-2h2zM6 16c0 1.105-0.895 2-2 2h-2c-1.105 0-2-0.895-2-2s0.895-2 2-2h2c1.105 0 2 0.895 2 2zM25.899 23.071l1.414 1.414c0.781 0.781 0.781 2.047 0 2.828s-2.047 0.781-2.828 0l-1.414-1.414c-0.781-0.781-0.781-2.047 0-2.828s2.047-0.781 2.828 0zM6.101 8.929l-1.414-1.414c-0.781-0.781-0.781-2.047 0-2.828s2.047-0.781 2.828 0l1.414 1.414c0.781 0.781 0.781 2.047 0 2.828s-2.047 0.781-2.828 0zM25.899 8.929c-0.781 0.781-2.047 0.781-2.828 0s-0.781-2.047 0-2.828l1.414-1.414c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-1.414 1.414zM6.101 23.071c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-1.414 1.414c-0.781 0.781-2.047 0.781-2.828 0s-0.781-2.047 0-2.828l1.414-1.414z")
    path(fill="currentColor", d="M16 8c-4.418 0-8 3.582-8 8s3.582 8 8 8c4.418 0 8-3.582 8-8s-3.582-8-8-8zM16 21c-2.761 0-5-2.239-5-5s2.239-5 5-5 5 2.239 5 5-2.239 5-5 5z")
